#mydiv  :hover
{
  
   
    /* transform: rotateY(150deg);
    transform: rotateZ(90deg); */
}
#mydiv2 :hover
{
    
}
#text1 :hover
{
    transform: rotateX(45deg);
}
body{
    
    overflow-x: hidden;
}